body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.Home-container-outside {
    min-height: 100vh;

}

.Home-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 50px auto;
}

.box {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

.box:hover {
    background-color: #3498db;
    transform: scale(1.1);
}

.box:nth-child(1), .box:nth-child(2) {
    background-color: #2ecc71;
}

.box:nth-child(3), .box:nth-child(4) {
    background-color: #e74c3c;
}