/* styles.css */

.ResetPasswordPage-outside-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.ResetPasswordPage-outside-div h1{

}


.ResetPasswordPage-div {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .ResetPasswordPage-h1 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
  }
  
  .ResetPasswordPage-form {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .ResetPasswordPage-label {
    margin-bottom: 10px;
    color: white;
  }
  
  .ResetPasswordPage-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .ResetPasswordPage-token-label {
    margin-bottom: 20px;
    color: #555;
  }
  
  .ResetPasswordPage-error-message {
    display: none;
    color: #ff0000;
    margin-bottom: 20px;
  }
  
  .ResetPasswordPage-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 102%;
  }
  
  .ResetPasswordPage-button:hover {
    background-color: #0056b3;
  }
  