.ResourceUploadPageNew-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
}

.ResourceUploadPageNew-error{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: red;
  background-color: var(--background-lighter-grey);
  font-weight: bold;
  font-size: medium;
  padding: 2%;
}

.ResourceUploadPageNew-content {
  display: flex;
  justify-content: space-between;
  gap: 2%;
}

.ResourceUploadPageNew-image-div{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ResourceUploadPageNew-image-delete-button{
  display: flex;
  margin-top: 1.5%;
  max-width: min-content;
  align-self: center;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.ResourceUploadPageNew-image-delete-button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.ResourceUploadPageNew-image-inside-column-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2%;
  height: 100%;

}

.ResourceUploadPageNew-image-preview {
  max-width: 300px;
  height: auto;
  margin-right: 20px;
  transition: transform .2s; /* Animation */
}

.ResourceUploadPageNew-image-preview:hover {
  transition-delay:0.4s;
  transform: scale(2.5) translateX(50%);
}

.ResourceUploadPageNew-input[type="file"] {
  display: none;
}

.ResourceUploadPageNew-input-label {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.ResourceUploadPageNew-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.ResourceUploadPageNew-MagazineIssue-outer-input-group {
  padding: 1%;
  padding-right: 4%;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 98%;
}

.ResourceUploadPageNew-MagazineIssue-outer-input-group h2{
  margin: 0;
  margin-top: 1%;
  margin-bottom: 1%;
}

.ResourceUploadPageNew-Persons-header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3%;
}

.ResourceUploadPageNew-Persons-header-row-button {
  background: transparent;
  font-size: xx-large;
}

.ResourceUploadPageNew-Persons-element-outside-div{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content:start;
  margin-top: 3%;
}

.ResourceUploadPageNew-Persons-element-remove-button{
  background: transparent;
  font-size: x-large;
}

.ResourceUploadPageNew-Persons-element-div{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1%;
}

.ResourceUploadPageNew-Persons-element-input {
  padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1%;
}

.ResourceUploadPageNew-Persons-outer-input-group {
  margin-top: 3%;
  padding: 1%;
  padding-right: 4%;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 98%;
}

.ResourceUploadPageNew-Persons-outer-input-group h2{
  margin: 0;
  margin-top: 1%;
  margin-bottom: 1%;
}

.ResourceUploadPageNew-input-group {
  margin-bottom: 15px;
  width: 100%;
}

.ResourceUploadPageNew-input-group label {
  margin-bottom: 2%;
}

.ResourceUploadPageNew-input-group input {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 1%;
}

.ResourceUploadPageNew-input-group textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; 
  height: 120px;
}

.ResourceUploadPageNew-button-outside-container-column {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: stretch;
}

.ResourceUploadPageNew-button-outside-container-row {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: flex-end;

}

#ResourceUploadPageNew-edit-button {

}


.ResourceUploadPageNew-navigate-to-resource-row {
    display: flex;
    justify-content: flex-end;
}

/* .ResourceUploadPageNew-navigate-to-resource-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.ResourceUploadPageNew-navigate-to-resource-button:hover {
    background-color: #0056b3;
} */

/* CSS */
.ResourceUploadPageNew-button {
  align-self: center;
  background-color: #949597;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.ResourceUploadPageNew-button:hover {
  background-color: var(--button-red);
  color: white;
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.ResourceUploadPageNew-button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  background-color: #b6b7ba;
  color:white
}

#ResourceUploadPageNew-delete-button-id{
  margin-top: 3%;
  font-size: x-small;
  width: fit-content;
}

.ResourceUploadPageNew-delete-confirmation-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--navbar-grey);
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.ResourceUploadPageNew-delete-confirmation-popup-row {
  display: flex;
  justify-content: space-between;
}

.ResourceUploadPageNew-delete-confirmation-popup p {
  margin-bottom: 10px;
}

#ResourceUploadPageNew-delete-popup-rejection-button:hover{
  background-color: #797878;
  color: white;
}


.ResourceUploadPageNew-NewProperty-popup-fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(90, 90, 90, 0.7);
  z-index: 9999;
}

.ResourceUploadPageNew-NewProperty-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--navbar-grey);
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  color: white;
}

.ResourceUploadPageNew-NewProperty-popup-form {
  display: flex;
  flex-direction: column;
}

.ResourceUploadPageNew-NewProperty-popup-form-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ResourceUploadPageNew-NewProperty-popup-form-input {
  margin-right: 10px;
}

.ResourceUploadPageNew-NewProperty-popup h2 {
  margin-bottom: 20px;
}

