/* .gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: repeat(auto-fit, 260px);
    grid-auto-flow: dense;
    grid-gap: 0.3rem;
  } */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the minmax value as needed */
    gap: 10px; /* Adjust the gap between items */
}

.grid-item {
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}