.UploadImage-body {
    font-family: Arial, sans-serif;
    background-color: #3D4041;
    padding: 20px;
}

.UploadImage-div {
    margin-bottom: 20px;
}

.UploadImage-h1 {
    color: white;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}


.UploadImage-input[type="text"],
.UploadImage-textarea,
.UploadImage-input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #3B3B3B;
}

.UploadImagePage-Competition-Searchbar-div{
    color: black;
}

div.sc-gEvEer.fpGKvk{
    color: black;

}
.UploadImage-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.UploadImage-button:hover {
    background-color: #0056b3;
}

.UploadImage-p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.UploadImage-img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.UploadImage-textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #3B3B3B;
    resize: vertical;
}
