.Navbar-outside-container {
    background-color: #434647; /* Background color for the navbar */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar-logo {
}

.Navbar-logo-image {
    height: 50px;
    width: auto;
}

.Navbar-menu {

}

.Navbar-menu button {
    background-color: #AA3F2C;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}

.Navbar-menu button:hover {
    text-decoration: underline;
}

.Navbar-loged-in-button button,
.Navbar-login-button {
    background-color: #AA3F2C;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.Navbar-loged-in-button button:hover,
.Navbar-login-button:hover {
    background-color: #0056b3;
}

.Navbar-log-in-external-div {

}
